/***-------------------------------***/
/* General styling*/
/***-------------------------------***/

/* this section affects the entire document*/
html {
    scroll-behavior: smooth;/* this ensures that the page scrolling is smooth when clicking the nav bar*/   
}

/* body */
body {
    margin: 0%;/*This ensures that the site displayes all the way to the edge of the browser screen*/
    opacity: 1;/* This and transition affect the page loading fade in effect */
    transition: 3s opacity;/* This causes a 3 second fade in */
    letter-spacing: .2vw;/* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;/* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
    user-select: none;/* This prevents the text on the webpage from being highlighted by the user */
}

/* this section handles the fade effects  for the page that occurs when the page is loaded */
body.fade-out {
    opacity: .1;/* This sets the level of opacity at the start of page load */
}

/* Heading 1 Elements */
h1 {
    text-transform: uppercase;/* capitalizing all h1 headings*/
    font-family: 'Trebuchet MS', Optima;/* stes the font family of all h1 headdings*/
    text-align: center;/* Centering all h1 elements*/
    margin-top: 3%;/* Adds a small margin above h1 elements*/
    color: #1a1a1a;
}

/* heading 1 element hover effect*/
h1:hover {
    filter: grayscale(5%);/* adds a slightly gray filter to the h1 headings when hovered over*/
    transform: scale(1.1);/* When the h1 elements are hovered over they increase in size by 1.1 */
    transition: transform 1s;/* This causes the transformation to last 1 second */
}

/* styling for portfolio title text */
.white-text {
    color: #fff;/* This is used to change the color of the Portfolio Title text */
    padding-top: 10vh;/* Adds padding (equal to 10% of the viewport height) to the top of the Portfolio Title text */
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* This justifies the text within paragraph elements*/
    letter-spacing: .1vw;/* This expands the text slightly */
    font-size: 1.5vw;/* Relative font sizing equal to 1.5% of the viewport width */
    padding-left: 1vw; /* Relative padding equal to 1% of the viewport width */
    padding-right: 1vw;/* Relative padding equal to 1% of the viewport width */
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s;/* This makes the transform effect last 1 second */
    transform: scale(1.01); /* This makes the paragraphs increase slightly in size when hovered over */
}

/* center class - this applies to all centered text*/
.center {
    text-align: center;/* This center aligns the text*/
}

/* center align elements hover effect - This affects the quote, github link and footer*/
.center:hover {
    transition: transform 2s;/* This makes the transform effect last 2 seconds */
    transform: scale(1.1)/* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

/* Anchor elements */
a {
    color: blue;/* this makes all the links blue */
    cursor: pointer;/* this ensures all links change the mouse pointer to a pointer when hovered over or clicked*/
    text-decoration: underline;/* this ensures that all links are underlined*/
}

/* Quotation elements section*/
q {
    font-style: italic;/* this makes quotes italicized */
}

/* Image element section*/
img {
    border-radius: 8px;   /* this gives all images slighly rounded corneres*/
    max-width: 100%;/* Ensures all images stay within the width of their container */
    height: 100%;/* sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin: auto auto auto auto;/* this centers all images*/
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img{
        height: 100px;
        margin-top: 150px;
    }
}

/*  styling for footer element */
footer {
    padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the elements area */
    background-color: white;
}
/***-------------------------------***/
/***  End of general styling section ***/
/***-------------------------------***/





/***-------------------------------***/
/*** Nav bar styling section ***/
.Navbar {
    overflow: hidden;/* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: rgb(20, 154, 231);/* This colors the nav bar */
    position: fixed;/* this keeps the nav bar at the top of the screen as we scroll */
    top: 0; /* this ensures no space is displayed above the nav bar */
    width: 100%;/*  This makes gthe nav bar span the entire width of the page*/
    z-index: 1;/* this ensures that nothing displayes over top the nav bar*/
    -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This makes the movNav animation take 5 seconds*/
}

/* the animation effect for moving the nav bar in from above the left of the screen on page load */
@keyframes moveNav {
    from {left:-100vw;}/* the left -100 vw makes the navbar start offscreen to the left*/
    to {left: 0vw;} /*This moves the navbar into place on the screen*/
}

/* Navbar Links*/
.Navbar a {
    float: left;/* this specifies that the text floats on the left on the nav bar   */ 
    display: block;/* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* this is the font color for tha text on the nav bar*/
    padding: .75vw 1vw;/* this adds padding around the text*/
    text-decoration: none;/* this gets rid of the underlines under the text on the navbar*/
    font-family: Helvetica;/* This specifies the font family for text on our navbar */
    font-size: 1.5vw; /* this specifies the font size for the text on our navbar */
    text-align: center;/* this centers the text within its container */
    position: relative; /* this sets the text relative to its normal position, this allows for th animation below*/
    -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s; /* applies the moveNavText animation */
}

/* the animation effect for moving the nav bar links in from above the top of the screen on page load*/
@keyframes moveNavText {
    from {top: -100vw;} /* this sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* this lowers the navbar text onto the navbar */
}

/* screens 576px and smaller will display navbar links equaly distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 20%; /*this sets each navbar link to 1/5 of the navbar*/
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4; /* defines the background color that will display when you hover over the link  */
    color: black; /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold;/* This makes the text on the navbar bold when hovered over */
    cursor: pointer;
}

/* Navbar home button*/
.Navbar a.active {
    background-color: darkgray;
}
/*** End of nav bar styling ***/







/*** Video styling ***/
/*  Formatting for background video */
#Typing_Video {
    position: fixed; /* this fixes the video to the page*/
    right: 0; /* this ensure thers no space between the edge of the video and the bottom of the page*/
    bottom: 0; /* this ensures no space between the edge of the video and the bottom of the page */
    min-width: 100%; /*this ensure the video is displayed across the full width of the page */
    z-index: -1; /* this places the video behind the othor elements on the page */
}

/* screens that are 576px and smaller will not display the background video*/
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video*/
.Video_Text {
    background: rgba(0, 0, 0, 0.5); /* this provides a semi tyransparents background for the text to sit over */
    color: white; /* makes the font color white*/
    width: 100%; /* ensures the video-text container fills the width of the video */
    height: 100vh; /* this ensures the video container fills the height of the viewport so that the slidshow is not partially displayed*/
    padding-top: 2vh; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;/* Animation for Safari 4.0 - 8.0 */
    animation: moveVideoText 5.75; /* moveVideoText animation set to 5.75s to match the movenavText animation */
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon load */
@keyframes moveVideoText {
    from {top: -100vw;} /* this sets the position of the video text to above the viewoport*/
    to {top: 0vw;} /* this moves the video to the normal positioning on the viewport */
}
/********* End of Video style section *********/





/********* Slidshow section *********/
#Slideshow_Background {
	background-image: url('https://t4.ftcdn.net/jpg/03/31/28/29/360_F_331282996_3m8nUIW8Z3wyRgf6QxBs3OGxLzkNd5JX.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mySlides {
    display: none;/* This prevents the images from being displayed, we will use JS to display these */
}

/* Slideshow section container part */
#Slideshow_Container {
    width: 39.5vw; /* Relative sizing of the container for the slidewshow set to 39.5% of the viewport width */
    height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
    padding-top: 4%; /* Adds a small padding to the top of the slideshow container */
    position: relative; /* This sets the container relative to its normal positioning */
    margin:auto; /* This will horizontally center the container on the page */
}

/* Images contained within the slideshow */
.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto; /* The height of the images is automatically adjusted based on the content, ie if your images are different sizes, they will display as different sizes */
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); /* Adds a shadow around the slideshow images */
    width: 100%; /* The width of the images is automatically adjusted based on the content */
}

/* Netx and previous buttons */
.Previous, .Next {
    cursor: pointer;/* Changes the mouse to a pointer when the buttons are selected */
    position: absolute;/* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 50%; /* This moves the buttons up in the slideshow container */
    width: auto; /* the width of th buttons is automaticly adjusted based on the content */
    padding: 2vw;/* Adds padding equal to 2% of the viewport width */
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;/* Adds a slightly rounded border on the top and bottom right corners */
    user-select: none;  /* This property makes it so that the user cannot highlight the text */
    transition: 0.6s ease;/* This specifies the details of the hover transition for these elements */
}

/* Positioning the next button on the right hand side*/
.Next {
    right: 0; /* this moves the next button to the right side of the slideshow container*/
    border-radius: 3px 0 0 3px;/* This changes the border radius on the next button to the top and bottom left of the button */
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Makes the background of the arrows a transparent gray color */
    color: white;/* makes the arrows white when hovered over */
}

/* Slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0;/* This property sets the text at the bottom of the image */
    width: 100%; /* The element covers the full width of the image */
    text-align: center; /* The text is center aligned within the image */
    font-family: perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;/* This gives slight spacing between the letters */
    font-size: 1.5vw; /* Font size is relative to the size of the viewport width */
    background-color: rgba(0, 0, 0, .75); /* Gives a slightly transparent black background */
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
}

/* Styling of the dots under the slideshow */
.dot {
    cursor: pointer;/* The cursor changes to pointer when hovered over the dots */
    height: 1vw; /* The dots are sized relative to the viewport width */
    width: 1vw;
    margin: .25vw; /* adds additional spacing between the dots */
    background-color: white; /* Makes the dots white */
    border-radius: 50%;/* Makes the dots circles by rounding each corner */
    display: inline-block;/* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease;/* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* This ensures the dots will be displayed above any other elements */
}

/* Hover effect for slidshow dots */
.active, .dot:hover {
    background-color: black;/* Sets the color of the dots when active or hovered over */
}

/* Fading animation for slidshow */
.fade {
    animation-name: fade; /* Fade animation is defined below */
    animation-duration: 1.5s;/* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}
/********* End of slidshow settings *********/






/***** Table Styling -  this section covers the styling of the columns and rows within the table *****/
* { /*The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 1.6%;
    height: 450px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
    background-color: rgba(20, 154, 231, .85);/* Sets the background color of the left columns */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1{
        overflow: auto;
    }
}

.Column_2{
    float: right;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: rgba(20, 154, 231, .85);
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/********* End of Table Styling *********/







/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}



/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; /* Adds slight spacing between the letters */
    font-size: 1.5vw; /* Relative sizing of text */
    font-weight: bold; 
    padding: 1.5vw; /* Adds padding to the text in the button */
    cursor: pointer; /* Changes the cursor to pointer over button elements */
    width: 100%; /* Sets the width of the buttons to 100% of their containers */
    height: auto; /* Allows the height to be resized depending on the content showing */
}

/* hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white; /* This makes the text in the buttons white when hovered over */
    background-color: black; /* The background of the button changes to black when hovered over */
    transition-duration: 1s; /* This makes the transition last 1 second */
    -webkit-transition-duration: 1s;/* For Safari 4.0-8.0 */
    border-color: silver; /* The border turns silver when the button is hovered over */
}


/********* End of contact styling *********/